# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders

.settings/
.vscode
# Application files
hls_ip
vivado
vitis_hls.log
#Oracle linux system
virtual machine
#Account and password
FPGA帳密.txt
GIT.pdf
nthu-sp-interview.pdf
soclab-summer-plan.pdf


# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
